Binary
Source/packages
Source/*/obj
Source/*/bin
Source\CompareEngine.Mupen\mupen64plus-core\projects\VisualStudio2013\Debug
Source\CompareEngine.Mupen\mupen64plus-core\projects\VisualStudio2013\Release
Source/CompareEngine.Mupen/Debug
Source/CompareEngine.Mupen/Release
Source/CompareEngine.Mupen/mupen64plus-core/lib
Source/ipch
*.sdf
*.opensdf
*.~vsdx
*.vsp
*.etl
*.vsps
*.suo
*.user
/Source/CompareEngine.Mupen/mupen64plus-core/projects/VisualStudio2013/Debug/mupen64plus-core.tlog
/Source/CompareEngine.Mupen/mupen64plus-core/projects/VisualStudio2013/Debug
/Source/Clibs/mupen64plus-core/projects/VisualStudio2013/Debug
/Source/CompareEngine.Mupen/Tests Debug
