*.suo
*.user
Binary
Source/packages
Source/*/obj
Source/*/bin
*.~vsdx
*.vsp
*.etl
*.vsps
Source/Clibs/mupen64plus-core/projects/VisualStudio2013/Debug
Source/CompareEngine.Mupen/Debug
*.sdf
Source/ipch
*.opensdf
/Source/Clibs/mupen64plus-core/lib
Source/CompareEngine.Mupen/Release
Source/CompareEngine.Mupen/mupen64plus-core/lib
