<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
  </extensions>
  <targets>
    <!--<target name="instTraceFile" xsi:type="File"
            layout="${message}"
            fileName="${basedir}/logs/cpuTrace.txt"
            keepFileOpen="false"
            deleteOldFileOnStartup="true"
            encoding="iso-8859-2" />-->
  </targets>
  <rules>
    <!--<logger name="Soft64.MipsR4300.Interpreter.PureInterpreter" minlevel="Debug" writeTo="instTraceFile" final="true" />
    <logger name="*" minlevel="Trace" writeTo="RichTextAsync" />-->
  </rules>
</nlog>