<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="NlogViewer" />
  </extensions>
  <targets>
    <target name="ctrl" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="NlogViewer" name="Ctrl" />
    </target>
  
        <target name="instTraceFile" xsi:type="File"
            layout="${message}" 
            fileName="${basedir}/logs/cpuTrace.txt" 
            keepFileOpen="false"
            deleteOldFileOnStartup="true"
            encoding="iso-8859-2" />
  </targets>
  <rules>
    <logger name="Soft64.MipsR4300.Interpreter.InterpreterTable" minlevel="Debug" writeTo="instTraceFile" final="true" />
    <logger name="*" minlevel="Trace" writeTo="ctrl" />
  </rules>
</nlog>